target/
result

.idea/
.vscode
.helix
.plans
.zed

*.pending-snap

flamegraph.svg
perf.data
perf.data.old
profile.json.gz

/examples/*
!/examples/python
!/examples/rust-interpreter
!/examples/rust-postgres
