<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
{% if page.title %}
<title>{{ page.title }} | {{config.title }}</title>
{% endif %}
{% if section.title %}
{% if section.title == config.title %}
<title>{{ section.title }}</title>
{% else %}
<title>{{ section.title }} | {{config.title }}</title>
{% endif %}
{% endif %}
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="/water.min.css">
<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
<style>
    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
    }

    body {
        margin: 0;
        padding: 0;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }

    .z-code {
        background-color: unset;
        font-size: 1rem;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
        padding: 10px 0;
    }

    .sidebar-start,
    .sidebar-end {
        flex: 200px 0 0;
        padding-bottom: 3rem;
    }

    .content {
        flex: 0 1 800px;
        overflow: hidden;
        max-width: calc(100% - 16px);
        padding: 0 10px;
    }

    h1 {
        margin-top: 0;
    }

    .underline::after {
        display: block;
        content: '';

        position: relative;
        top: -6px;
        left: -0.25em;
        height: 10px;
        width: calc(100% + 0.5em);

        border-radius: 1px;
        background-color: var(--selection);
    }

    .toc {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0 1rem;
        margin: 0;
    }

    .toc>li {
        display: block;
    }

    .muted {
        color: var(--text-muted);
    }

    .breadcrumbs {
        display: flex;
        flex-wrap: wrap;
    }

    .breadcrumbs a:not(:first-child)::before {
        content: ">";
        color: var(--text-muted);
        margin: 0 0.5rem;
    }

    ul.navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0.5rem;
    }

    ul.navigation li {
        display: block;
    }

    ul.navigation a {
        color: var(--text);
    }

    ul.navigation li.active>a {
        color: var(--links);
    }

    ul.navigation li.header:not(:first-child) {
        padding-top: 1.5rem;
    }

    ul.navigation li.header>a {
        font-weight: bold;
    }

    details>summary {
        width: 100%;
    }

    @media (max-width: 1216px) {

        .sidebar-start,
        .sidebar-end {
            flex: 0 1 800px;
            padding: 0 10px 8 10px;
        }

        ul.navigation {
            position: relative;
        }
    }
</style>